body {

     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
}

.bg-img {

     background-image: url('../Assests/banner.jpg');
     background-size: cover;
     height: 700px;

}

.nav-link {

     font-size: 15px;
     font-weight: 600;
}

.heading {

     font-family: 'Roboto';
     font-weight: 400;

}

.card_border {

     -webkit-transition: box-shadow .6s ease-out;
     border: solid 1px #6EC1E4;
     border-radius: 10px;
}




.DT {

     font-size: 28px;
     font-weight: 700;
     font-family: 'Roboto';
}


.image_top {

     width: 15%;
     height: 15%;
     margin: 0 auto;
}

.mainDic {

     width: 500px;
     height: 230px;
     background-color: black;
     margin: auto;
     border-radius: 20px;
}

.dicchild {

     width: 500px;
     height: 90px;
     background-color: #6EC1E4;

}

.offer-div {

     width: 150px;
     height: 50px;
     background-color: #fff;
     margin: 0 auto;
     border-radius: 0px 0px 10px 10px;
     margin-top: -2px;
}


.btnnn {

     width: 80%;
     justify-content: center;
     background-color: #fff;
     color: #000;
     border: none;
}


.slogen {

     font-family: 'Roboto';
     font-weight: 500;
}



.line {

     width: 100px;
     height: 6px;
     background-color: #20b2aa;
     /* margin: 0 auto; */
     margin-top: 20px;
     border-radius: 10px;
}


.line2 {

     width: 70px;
     height: 4px;
     background-color: #ffffff;
     border-radius: 10px;
}

.bg {

     background-color: rgb(241, 241, 241);
}


.bg-color {

     width: 1000p;
     height: 700px;
     background: url('../Assests/bookBg.webp');
     background-repeat: no-repeat;
     background-size: contain;
     /* padding: 20px; */
}

.best_price {

     width: 300px;
     height: 800px;
     background-color: #6EC1E4;
     border-radius: 10px 10px 0px 0px;

}

.hammerIcon {

     transform: rotate(100deg);
     color: white;
}


.line3 {

     width: 200px;
     height: 4px;
     background-color: #ffffff;
     margin-top: 20px;
     border-radius: 10px;
}

.image_topp {

     width: 200px;
     height: 100px;
     background-size: cover;
}

.tabs_main {

     justify-content: center;
     align-items: center;
}

.tabs {

     width: 50%;
     height: 60px;
     border-bottom: 1px solid #6d6d6d;
     display: flex;
     padding: 10px;

}

.btn_paper {

     width: 100%;
     color: #fff;
}


.form_div {

     width: 350px;
     height: 500px;
     background-color: #fff;
     border: solid 2px #6EC1E4;
}


.form_child {

     width: auto;
     height: 120px;
     background-color: #6EC1E4;
}


.image_side {

     width: 15%;
     height: 15%;
}

.tips {

     width: auto;
     border-bottom: 1px solid #ffffff;
     padding: 10px;

}

.image_btn {


     width: 100%;

}


.card-body {
     border: 0px;
}



.tabss {

     width: 100%;
     height: 60px;
     border-bottom: 1px solid #adadad;
     display: flex;
     padding: 10px;

}


.image_top_icon {

     width: 30px;
     height: 20px;
     margin: 0 auto;
}


ul li a::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: .5s;
     transform: scale(.9);
     z-index: -1;
     border-width: 2px;
}

ul li a:hover::before {
     transform: scale(1.0);
}

ul li a:hover {
     width: 100%;
     height: 100%;
     color: rgb(19, 194, 151);
     box-shadow: 0 0 15px rgba(19, 194, 151);
     /* text-shadow: 0 0 5px rgba(19,172,197,1); */
}


.services:hover {

     cursor: pointer;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.whats-app {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 40px;
     background-color: #6EC1E4;
     color: #FFF;
     border-radius: 50px;
     text-align: center;
     justify-content: center;
     font-size: 36px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;
     /* left: 15px;/ */

}


.talk-app {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 40px;
     background-color: #6EC1E4;
     color: #FFF;
     border-radius: 50px;
     text-align: center;
     justify-content: center;
     font-size: 36px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;
     right: 30px;
}

.result {
     margin-top: 20px;
     padding: 10px;
     border: 1px solid #ccc;
     background-color: white;
     border-radius: 5px;
}



.nav-item.dropdown:hover .dropdown-menu {
     display: block;
     margin-top: 0;
     /* Remove the margin to align properly with the navbar */
}


.img-gaib {
     width: 1200px;
     height: auto
}


.center_line {


     width: 200px;
     height: 200px;
     background-color: #000;
}




.client {
     width: 100%;
     height: 100%;
     background-color: #20b2aa
}

.carousel-icon {

     i {
          font-size: 5rem;
          color: rgba(#fff, 0.3);
     }

}

.carousel-item {

     i {
          font-size: 1.6rem;
          color: rgba(#fff, 0.3);
     }
}

.t-card {
     padding: 1.8125rem 1.125rem;
     background-color: rgba(#000, 0.5);
     border-radius: 1.25rem;
     color: #fff;
     height: auto;
}

.arrow-down {
     width: 0;
     height: 0;
     border-left: 1.5625rem solid transparent;
     border-right: 1.5625rem solid transparent;
     border-top: 1.25rem solid rgba(#000, 0.5);
     /* // margin-left: 4.6875rem */
}


.crd_scroll {

     height: 650px;
     overflow-y: scroll;

}


.crd_scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
     background-color: #D62929;

}



.pre_loader {
     position: fixed;
     z-index: 999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.pre_loader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;

}

.loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #20b2aa;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
}

.loader::before {
     content: "";
     position: absolute;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #000000;
     -webkit-animation: spin 3s linear infinite;
     animation: spin 3s linear infinite;
}

.loader::after {
     content: "";
     position: absolute;
     top: 15px;
     left: 15px;
     right: 15px;
     bottom: 15px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: rgb(21, 113, 8);
     -webkit-animation: spin 2s linear infinite;
     animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
     }

     100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
     }
}

@keyframes spin {
     0% {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
     }

     100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
     }
}



.crd_width {

     width: 500px;
}



/* .icon {

     width: 40px;
     height: 40px;
     background-color: #ffc107;
     border-radius: 50%;
} */


.bg-green {


     width: 100%;
     height: 700px;
     background-image: linear-gradient(to right, #20b2aa 0%, #005d56 100%);

}


.bg-green1 {


     width: 100%;
     height: 500px;
     background-image: linear-gradient(to right, #20b2aa 0%, #005d56 100%);

}
.bg-okay {

     width: 100%;
     height: 400px;
     background: url('../Assests/audio-book-divider.webp');
     background-size: contain;
     background-repeat: no-repeat;

}







ul {
     list-style-type: none;
}

a,
a:hover {
     text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

body {
     font-family: 'Montserrat', sans-serif;

     .testimonial {
          padding: 40px 0;

          .row {
               .tabs {
                    all: unset;
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;

                    li {
                         all: unset;
                         display: block;
                         position: relative;

                         &.active {
                              &::before {
                                   position: absolute;
                                   content: "";
                                   width: 50px;
                                   height: 50px;
                                   background-color: #71b85f;
                                   border-radius: 50%;
                              }
                         }

                         &.active {
                              &::after {
                                   position: absolute;
                                   content: "";
                                   width: 30px;
                                   height: 30px;
                                   background-color: #71b85f;
                                   border-radius: 50%;
                              }
                         }

                         &:nth-child(1) {
                              align-self: flex-end;

                              &::before {
                                   left: 64%;
                                   bottom: -50px;
                              }

                              &::after {
                                   left: 97%;
                                   bottom: -81px;
                              }

                              figure {
                                   img {
                                        margin-left: auto;
                                   }
                              }
                         }

                         &:nth-child(2) {
                              align-self: flex-start;

                              &::before {
                                   right: -65px;
                                   top: 50%;
                              }

                              &::after {
                                   bottom: 101px;
                                   border-radius: 50%;
                                   right: -120px;
                              }

                              figure {
                                   img {
                                        margin-right: auto;
                                        max-width: 300px;
                                        width: 100%;
                                        margin-top: -50px;
                                   }
                              }
                         }

                         &:nth-child(3) {
                              align-self: flex-end;

                              &::before {
                                   right: -10px;
                                   top: -66%;
                              }

                              &::after {
                                   top: -130px;
                                   border-radius: 50%;
                                   right: -46px;
                              }

                              figure {
                                   img {
                                        margin-left: auto;
                                        margin-top: -50px;
                                   }
                              }

                              &:focus {
                                   border: 10px solid red;
                              }
                         }

                         figure {
                              position: relative;

                              img {
                                   display: block;
                              }

                              &::after {
                                   content: "";
                                   position: absolute;
                                   top: 0;
                                   z-index: -1;
                                   width: 100%;
                                   height: 100%;
                                   border: 4px solid #dff9d9;
                                   border-radius: 50%;
                                   -webkit-transform: scale(1);
                                   -ms-transform: scale(1);
                                   transform: scale(1);
                                   -webkit-transition: 0.3s;
                                   -o-transition: 0.3s;
                                   transition: 0.3s;
                              }

                              &:hover {
                                   &::after {
                                        -webkit-transform: scale(1.1);
                                        -ms-transform: scale(1.1);
                                        transform: scale(1.1);
                                   }
                              }
                         }
                    }

                    &.carousel-indicators {
                         li.active {
                              figure {
                                   &::after {
                                        -webkit-transform: scale(1.1);
                                        -ms-transform: scale(1.1);
                                        transform: scale(1.1);
                                   }
                              }
                         }
                    }
               }

               .carousel {
                    >h3 {
                         font-size: 20px;
                         line-height: 1.45;
                         color: rgba(0, 0, 0, .5);
                         font-weight: 600;
                         margin-bottom: 0;
                    }

                    h1 {
                         font-size: 40px;
                         line-height: 1.225;
                         margin-top: 23px;
                         font-weight: 700;
                         margin-bottom: 0;
                    }

                    .carousel-indicators {
                         all: unset;
                         padding-top: 43px;
                         display: flex;
                         list-style: none;

                         li {
                              background: #000;
                              background-clip: padding-box;
                              height: 2px;
                         }
                    }

                    .carousel-inner {
                         .carousel-item {
                              .quote-wrapper {
                                   margin-top: 42px;

                                   p {
                                        font-size: 18px;
                                        line-height: 1.72222;
                                        font-weight: 500;
                                        color: rgba(0, 0, 0, .7);
                                   }

                                   h3 {
                                        color: #000;
                                        font-weight: 700;
                                        margin-top: 37px;
                                        font-size: 20px;
                                        line-height: 1.45;
                                        text-transform: uppercase;
                                   }
                              }
                         }
                    }
               }
          }
     }
}

@media only screen and (max-width: 1200px) {
     body {
          .testimonial {
               .row {
                    .tabs {
                         margin-right: 25px;
                    }
               }
          }
     }
}

.card-img-top{


       width: 130px;
       height: 130px;
       
}



@media only screen and (max-width: 567px) {}

@media only screen and (max-width: 600px) {

     body {

          overflow-x: hidden;
     }

     .img-gaib {


          display: none;
     }

     .bg-okay {

        display: none;
     
     }


     
     .mainDic {

          width: auto;

     }

     .dicchild {

          width: auto;
     }

     .bg-color {

          right: 20px;
     }

     .mega-menu {

          width: auto;
     }


     .bg-color {

          /* height: 700px; */
          font-size: small;
          background-size: cover;
     }

     .best_price {

          width: 300px;
          height: 800px;
          background-color: #6EC1E4;
          border-radius: 10px 10px 0px 0px;
          margin-left: -20px;
     }



     .bg-leptop{

           display: none;
     }

     .tabs {

          margin-right: 20px;
          align-self: center;
     }

     .form_div {


          margin-left: -45px;
     }

     .crd_width {

          width: auto;
     }

     .bg-green {


          width: 100%;
          height: auto;
          background-image: linear-gradient(to right, #20b2aa 0%, #005d56 100%);

     }

     .bg-green1 {


          width: 100%;
          height: auto;
          background-image: linear-gradient(to right, #20b2aa 0%, #005d56 100%);
          font-size: medium;
     }


}



#button-1 {
     width: 190px;
     height: 40px;
     border: none;
     /* border-bottom: 2px white solid; */
     /* margin-left: 100px; */
     margin-top: 20px;
     transition: .5s all;
     color: #000;
     font-size: 18px;
     font-weight: 400;
}

#button-1:hover i {
     animation-name: circle;
     animation-duration: 1s;
}

.bg-leptop{
  
     width: 500px;
     height: 400px;
     background-image: url("../Assests/laptop-png.png");
     background-repeat: no-repeat;
     background-size: contain;
     z-index: 999;
     
}

.d-block{
     width: 383px;
     height: 253px;
     margin: 0 auto;
     padding: 10px;
     margin-top: 15px;
    
}

.center-btn {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 10px 20px;
     background-color: #3060B1;
     color: white;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     z-index: 2;
     /* To make sure it appears above images */

}

@keyframes rotate {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}