body{
     scroll-behavior: smooth;
     font-family: 'Mulish', sans-serif;
     /* font-family: 'Crimson Pro', serif; */
     background-color:#ffffff;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
    
}

.bg-img {

      background-image: url('../Assests/Section.png');
      background-size: cover;
     
}



.heading {

     font-family: 'Roboto';
     font-weight: 400;

}

.card_border {

     -webkit-transition: box-shadow .6s ease-out;
     border: solid 1px #6EC1E4;
     border-radius: 10px;
}




.DT {

     font-size: 28px;
     font-weight: 700;
     font-family: 'Roboto';
}


.image_top {

     width: 14%;
     height: 23%;
     margin: 0 auto;
}

.mainDic {

     width: 500px;
     height: 230px;
     background-color: black;
     margin: auto;
     border-radius: 20px;
}

.dicchild {

     width: 500px;
     height: 90px;
     background-color: #6EC1E4;

}

.offer-div {

     width: 150px;
     height: 50px;
     background-color: #fff;
     margin: 0 auto;
     border-radius: 0px 0px 10px 10px;
     margin-top: -2px;
}


.btnnn {

     width: 80%;
     justify-content: center;
     background-color: #fff;
     color: #000;
     border: none;
}


.slogen {

     font-family: 'Roboto';
     font-weight: 500;
}


.line {

     width: 100px;
     height: 6px;
     background-color: #6EC1E4;
     margin: 0 auto;
     margin-top: 20px;
     border-radius: 10px;
}


.line2 {

     width: 100px;
     height: 4px;
     background-color: #6EC1E4;
     border-radius: 10px;
}

.bg {

     background-color: rgb(241, 241, 241);
}

.bg-color {

     background-color: #6EC1E4;
     padding: 20px;
}

.best_price {

     width: 300px;
     height: 800px;
     background-color: #6EC1E4;
     border-radius: 10px 10px 0px 0px;

}

.hammerIcon {

     transform: rotate(100deg);
     color: white;
}


.line3 {

     width: 200px;
     height: 4px;
     background-color: #ffffff;
     margin-top: 20px;
     border-radius: 10px;
}

.image_topp {

     width: 200px;
     height: 100px;
     background-size: cover;
}

.tabs_main {

     justify-content: center;
     align-items: center;
}

.tabs {

     width: 50%;
     height: 60px;
     border-bottom: 1px solid #6d6d6d;
     display: flex;
     padding: 10px;

}

.btn_paper {

     width: 100%;
     color: #fff;
}


.form_div {

     width: 350px;
     height: 545px;
     background-color: #fff;
     border: solid 2px #6EC1E4;
}


.form_child {

     width: auto;
     height: 120px;
     background-color: #6EC1E4;
}


.image_side {

     width: 15%;
     height: 15%;
}

.tips {

     width: auto;
     border-bottom: 1px solid #ffffff;
     padding: 10px;

}

.image_btn {


     width: 100%;

}


.card-body {
     border: 0px;
}



.tabss {

     width: 100%;
     height: 60px;
     border-bottom: 1px solid #adadad;
     display: flex;
     padding: 10px;

}


.image_top_icon {

     width: 30px;
     height: 20px;
     margin: 0 auto;
}


ul li a::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: .5s;
     transform: scale(.9);
     z-index: -1;
     border-width: 2px;
}

ul li a:hover::before {
     transform: scale(1.0);
}

ul li a:hover {
     width: 100%;
     height: 100%;
     color: rgba(19, 172, 197, 1);
     box-shadow: 0 0 15px rgba(19, 172, 197, 1);
     /* text-shadow: 0 0 5px rgba(19,172,197,1); */
}





.services:hover {

     cursor: pointer;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.serviceses {
  
     height: 250px;
}


.serviceses:hover {

     cursor: pointer;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.whats-app {
     position: fixed;
     width: 55px;
     height: 53px; 
     bottom: 40px;
     background-color: #6EC1E4;
     color: #FFF;
     border-radius: 50px;
     text-align: center;
     justify-content: center;
     font-size: 36px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;
     /* left: 15px;/ */

}


.talk-app {
     position: fixed;
     width: 60px;
     height: 60px;
     bottom: 40px;
     background-color: #6EC1E4;
     color: #FFF;
     border-radius: 50px;
     text-align: center;
     justify-content: center;
     font-size: 36px;
     box-shadow: 2px 2px 3px #999;
     z-index: 100;
     right: 30px;
}

.result {
     margin-top: 20px;
     padding: 10px;
     border: 1px solid #ccc;
     background-color: white;
     border-radius: 5px;
}






.center_line{


      width: 200px;
      height: 200px;
      background-color: #000;
}




.btn-custom {
     background: none;
     border: none;
     padding: 0;
     font: inherit;
     color: inherit;
     cursor: pointer;
   }





  


.client {
     width: 100%;
     height: 100%;
     background-color: #6EC1E4
}

.carousel-icon {

     i {
          font-size: 5rem;
          color: rgba(#fff, 0.3);
     }

}

.carousel-item {

     i {
          font-size: 1.6rem;
          color: rgba(#fff, 0.3);
     }
}

.t-card {
     padding: 1.8125rem 1.125rem;
     background-color: rgba(#000, 0.5);
     border-radius: 1.25rem;
     color: #fff;
     height: auto;
}

.arrow-down {
     width: 0;
     height: 0;
     border-left: 1.5625rem solid transparent;
     border-right: 1.5625rem solid transparent;
     border-top: 1.25rem solid rgba(#000, 0.5);
     /* // margin-left: 4.6875rem */
}


.crd_scroll{

      height: 650px;
      overflow-y: scroll;
      
}


.crd_scroll::-webkit-scrollbar-thumb{
     border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;

}



 .pre_loader{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
 .pre_loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.loader{
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #6EC1E4;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000000;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader::after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a0db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin{
  0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes spin{
  0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}



.crd_width{

     width: 500px;
}

.form_div-other{

     width: 350px;
     height: 545px;
     background-color: #fff;
     border: solid 2px #6EC1E4;
}




@media only screen and (max-width: 600px) {

     html, body {
          overflow-x: hidden;
        }
        
      
     .mainDic {

          width: auto;

     }

     .dicchild {

          width: auto;
     }

     .bg-color {

          right: 20px;
     }

     .mega-menu {

          width: auto;
     }


     .bg-color{

           font-size: 10px;
           padding: 12px;
     }

     .best_price{

          width: 300px;
          height: 800px;
          background-color: #6EC1E4;
          border-radius: 10px 10px 0px 0px;
          margin-left: -45px;
     }

     .tabs{

          margin-right: 20px;
          align-self: center;
     }

     .form_div{

          margin-left: -65px;
          width: 313px;
          height: 545px;
          background-color: #fff;
          border: solid 2px #6EC1E4;
     }

     .form_div-other{

          margin-left: -65px;
          width: 325px;
          height: 545px;
          background-color: #fff;
          border: solid 2px #6EC1E4;
     }

     .crd_width{

          width: auto;
     }


    
    
      .whatsapp_float {
          width: 55px;
          height: 53px;      
          bottom: 20px;
          right: 10px;
          font-size: 20px;
      }
    
    
      .loader{
          display: block;
          position: relative;
          left: 53%;
          top: 53%;
          width: 140px;
          height: 140px;
          margin: -75px 0 0 -75px;
          border-radius: 55%;
          border: 4px solid transparent;
          border-top-color: #6EC1E4;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
      }
  

      .image_top_icon {
          width: 30px;
          height: 20px;
          margin: 0 auto;
      }


      .des{

           padding: 1rem !important;
      }

      

      .dropdown-item {
          display: block;
          width: 100%;
          padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
          clear: both;
          font-weight: 400;
          color: var(--bs-dropdown-link-color);
          text-align: inherit;
          text-decoration: none;
          white-space: wrap;
          background-color: transparent;
          border: 0;
          border-radius: var(--bs-dropdown-item-border-radius, 0);
      }

   
}


  